<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace = "com.golflearn.mapper.AdminMapper">
    	<resultMap type="Lesson" id="lessonMap" autoMapping="true">
	  		<id property="lsnNo" column="lsn_no"/>
	  		<association property="userInfo" javaType="UserInfo" autoMapping="true">
	  			<id property="userId" column="user_id"/>
	     		<result property="userName" column="user_name"/>
	     	</association>
   		 </resultMap>	
   	 <resultMap type="UserInfo" id="userMap" autoMapping="true">
   	 	<!-- <id property="userId" column="user_id"/> -->
   	 	<collection property="proInfo" javaType="ProInfo" autoMapping="true">
   	 		<id property="proCareer" column="pro_career"/>
   	 	</collection>
   	 </resultMap>
   	 <resultMap type="LessonLine" id="userLessonInfoMap" autoMapping="true">
   	 	<collection property = "lesson" javaType="Lesson" column="lsn_no">
   	 	<id property="lsnNo" column="lsn_no"/>
   	 	</collection>
   	 </resultMap>
   	 
   	 
   <!-- 전체 유저 목록 조회하기  -->
    <select id="selectByUserPage" parameterType="map" resultType="UserInfo">
	    SELECT * 
	    FROM (SELECT rownum r, a.*
			 FROM (SELECT user_id, user_nickname, user_type, user_quit_status
					FROM user_info 
				   ORDER BY user_join_dt DESC)a
			       )
	 	WHERE r BETWEEN #{startRow} AND #{endRow}
    </select>
     <select id="selectCountAllUser" resultType="int">
        SELECT COUNT(*) FROM user_info
    </select>
    
    <!--유저 타입별로 회원목록 조회하기  -->
    <select id="selectByUserType" parameterType="map" resultType="UserInfo" >
	    SELECT *
		FROM (SELECT rownum r, a.*
		     	FROM (SELECT user_id, user_nickname, user_type, user_quit_status
		 				FROM user_info
	             		WHERE user_type = #{userType}
						ORDER BY user_type DESC) a
			)			
		WHERE r BETWEEN #{startRow} AND #{endRow}
    </select>
    <select id="selectCountUserType" parameterType= "int" resultType="int">
        SELECT COUNT(*) FROM user_info
        where user_type = #{userType}
    </select>
    
    <!--유저정보 상세보기-->
    <select id="selectUserDetail" parameterType="String" resultMap="userMap">
    	SELECT u.*, pro_career 
    	FROM user_info u 
		LEFT JOIN pro_info p ON (u.user_id = p.user_id)
		WHERE u.user_id = #{userId}
    </select>
    
    <!--수강생 레슨정보  -->
	<select id="selectByStdtLesson" parameterType="String" resultType="LessonLine">
		SELECT * 
		FROM( SELECT rownum r, a.*
      			FROM (SELECT *
            			FROM lesson_line
            			WHERE u.user_id = {userId}
            			ORDER BY lsn_lin_no DESC)a
      			)r
		WHERE r BETWEEN #{startRow} AND #{endRow}
		
		
		SELECT * FROM lesson_line
		WHERE user_id = #{userId}
	</select>
	<select id="selectCountStdtLesson" parameterType= "String" resultType="int">
        SELECT COUNT(*) FROM lesson_line
        WEHRE user_id = #{userId}
    </select>
	<!-- 프로 레슨정보  -->
	<select id="selectByProLesson" parameterType="map" resultMap= "lessonMap">
		SELECT * 
		FROM( SELECT rownum r, a.*
      			FROM (SELECT l.lsn_no, l.user_id, l.lsn_title, l.lsn_status, l.lsn_apv_dt, u.user_name
            			FROM lesson l 
            			JOIN user_info u ON (l.user_id = u.user_id)
            			WHERE u.user_id = {userId}
            			ORDER BY user_name DESC)a
      			)
		ORDER BY lsn_apv_dt DESC;
		WHERE r BETWEEN #{startRow} AND #{endRow}
	</select>
	<select id="selectCountProLesson" parameterType= "String" resultType="int">
        SELECT COUNT(*) FROM lesson
        WEHRE user_id = #{userId}
    </select>
    
    <!-- 동적쿼리 -->
   	<select id="selectUserLesson" parameterType="map" resultMap="userLessonInfoMap">
	   	SELECT * 
	   	FROM(SELECT rownum r, a.*
			 FROM (SELECT ll.* , l.lsn_no, l.user_id, l.lsn_title, l.lsn_status, l.lsn_apv_dt
					FROM lesson_line ll LEFT JOIN lesson l ON (ll.user_id = l.user_id)
					ORDER BY lsn_no DESC
					)a
				)
		WHERE r BETWEEN #{startRow} AND #{endRow}				
	<choose>
		<when test = "userType ==0">
			WHERE ll.user_id = #{userId}
		</when>
		<when test="userType ==1">
			WHERE l.user_id = #{userId}
		</when>
	</choose>
	</select>
	
	<!--검색어로 회원찾기  -->
	<select id="selectByUserTypeProLesson" parameterType="map" resultType= "UserInfo">
	    SELECT *
		FROM (SELECT rownum r, a.*
			  FROM (SELECT user_name, user_nickname, user_id, user_type, user_quit_status 
					FROM user_info
					WHERE (user_name||user_nickname||user_id) LIKE'%${word}?%'
					ORDER BY user_id DESC) a
					);
		WHERE r BETWEEN #{startRow} AND #{endRow}
   	</select>
   	<select id="selectCountUser" parameterType= "String" resultType="int">
        SELECT COUNT(*) FROM lesson_line
        WEHRE user_id = #{userId}
    </select>
    
  </mapper>