<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golflearn.mapper.LessonReviewMapper">
<resultMap type="Lesson" id="LessonReviewMap" autoMapping="true">
	<id property="lsnLine.lsnLineNo" column="lsn_line_no" />
	<association property="lsnLine" javaType="LessonLine" autoMapping="true"/>
</resultMap>
<resultMap type="LessonLine" id="LessonReviewModifyMap" autoMapping="true">
	<association property="lsn" javaType="Lesson" autoMapping="true"/>
	<collection property="lsnReview" ofType="LessonReview" autoMapping="true"/>
</resultMap>
  <select id="selectTitleByLsnLineNo" resultMap="LessonReviewMap" parameterType="int">
	SELECT ll.lsn_line_no, le.lsn_title
    FROM lesson le JOIN lesson_line ll ON (le.lsn_no = ll.lsn_no)
    WHERE ll.lsn_line_no = ${lsnLineNo}
  </select>
  <select id="selectReviewByLsnLineNo" resultMap="LessonReviewModifyMap" parameterType="int">
	SELECT ll.lsn_line_no, le.lsn_title, lr.my_star_score, lr.review
	FROM lesson_line ll JOIN lesson_review lr ON (lr.lsn_line_no = ll.lsn_line_no)
	                    JOIeview/writeN lesson le ON (le.lsn_no = ll.lsn_no)
	WHERE ll.lsn_line_no = ${lsnLineNo}
  </select>
  <insert id="insertReview" parameterType="LessonReview">
	INSERT INTO lesson_review(lsn_line_no, review, review_dt, review_edit_dt, my_star_score) 
	VALUES(#{lsnLine.lsnLineNo}, #{review}, sysdate, sysdate, #{myStarScore})
  </insert>
  <update id="modifyReview">
  	UPDATE lesson_review
	SET review = #{review}, review_edit_dt = sysdate, my_star_score = #{myStarScore}
	WHERE lsn_line_no = #{lsnLine.lsnLineNo}
  </update>
</mapper>